.text-dark
  color: $black

.text-light
  color: $white

.bg-dark
  background: $black

.bg-light
  background: $white

.tui-image-editor-container .tui-image-editor-help-menu, .tui-image-editor-container .tui-image-editor-submenu, .tui-image-editor-controls
  z-index: 1 !important

.tui-image-editor-container
  overflow: auto !important

.yawara
  margin-top: 50px
  margin-left: 6.9rem
  min-height: 100vh

.yawara-expanded
  margin-left: 17rem !important

.yawara-content
  padding-top: 2.5rem
  padding-left: 1.5rem
  padding-right: 1.5rem

.expanded
  width: 17rem !important
  .sidebar
    &-icon
      @include flex(row, space-around)
      svg
        width: 25%
        @include flex(row, start)
        transform: scale(3)
      span
        width: 65%
        font-size: 20px

// toastify
.Toastify__toast.toast-theme--dark
  background: $black !important
  color: $white !important

.Toastify__toast.toast-theme--white
  background: $white !important
  color: $black

@media screen and (max-width: 990px)
  .yawara
    margin-left: 0

    &-content
      padding-left: 0.5rem
      padding-right: 0.5rem
