$black: #222222
$green: #49C0B6
$dark_green: #3D6C68
$grass-green: #3C817B
$ultra_dark_green: #435763
$light_green: #7DC992
$ultra_light_green: #99CBC7
$blue: #007CC0
$light_blue: #37AFF1
$yellow: #D8C89B
$white: #F8F8F8
$light_red: #C98A7D
$red: #ec5555
$grey: #C8C8C8

\:root
  --black: #222222
  --green: #49C0B6
  --grass-green: #3C817B
  --dark-green: #3D6C68
  --ultra-dark-green: #435763
  --light-green: #7DC992
  --ultra-light-green: #99CBC7
  --blue: #007CC0
  --light-blue: #37AFF1
  --blue-xs: #A9DBF6
  --yellow: #D8C89B
  --white: #F8F8F8
  --light-red: #C98A7D
  --red: #ec5555
  --grey: #C8C8C8
