.account
  width: 100%
  max-height: fit-content
  min-height: 100vh
  @include flex()

.account-greeting
  width: 50%
  @include flex(column)
  max-height: fit-content
  gap: 3rem
  min-height: 100vh
  padding: 2rem 5rem
  h2
    font-weight: 600
.account-lady_yawara
  @include flex()
.account-lady_yawara svg
  width: 100%

.account-form
  padding: 2rem 5rem
  width: 50%
  max-height: fit-content
  min-height: 100vh
  box-shadow: -17px 4px 66px 13px rgba(0, 0, 0, 0.25)
  &-theme
    @include flex()
  &-top
    @include flex(row, space-between)
    height: 5rem
    svg
      cursor: pointer
      transform: scale(1.5)
      fill: $green
    &-options
      @extend .trans-1
      button
        cursor: pointer
        user-select: none
        border: none
        padding: 0.75rem 1.5rem
        background: $ultra_dark_green
        font-weight: 600
        @extend .trans-1
        &:first-child
          border-radius: 24px 0 0 24px
        &:last-child
          border-radius: 0 24px 24px 0
          filter: drop-shadow(2px 4px 55px rgba(255, 255, 255, 0.25))
        &:hover
          background: lighten($ultra_dark_green, 10)
          @extend .trans-1
  &-header
    font-weight: 700
    margin-top: 2rem
    color: $green
    user-select: none
    span
      cursor: pointer
      color: $grey
      @extend .trans-1
      &:first-child
        padding-right: 1.5rem
      &:last-child
        padding-left: 1.5rem

  &-main
    margin-top: 4rem
  &-forgot
    @include flex()
    margin-top: 1rem
    span
      color: $green
      font-size: 12px
      text-decoration: underline
      user-select: none
      cursor: pointer

@media screen and (max-width: 990px)
  .account-greeting
    display: none
  .account-form
    width: 100%
    justify-content: center
    padding: 2rem
  .account
    height: auto

@media screen and (max-width: 500px)
  .account-form
    display: flex
    flex-direction: column-reverse
  .account-form-top
    flex-direction: column-reverse
  .account-form-header
    display: none
  .account-form-main
    margin-top: 1rem
  .btn-opt-acc
    display: none
  .btn-opt-acc.isAccountActive
    display: block
    margin-top: 0.5rem
    text-decoration: underline
    background: none
    font-size: 12px
    color: $green
    font-weight: 400
  .btn-opt-acc.isAccountActive::before
    content: "Deseja "
  .btn-opt-acc.isAccountActive::after
    content: "?"
