.admin-view
  &-header
    @include flex(row, space-between)
    gap: 1rem
    margin-bottom: 2.5rem
    &-user
      @include flex()
      gap: 1rem
      &_img
        width: 4.5rem
        height: 4.5rem
        object-fit: cover
        border-radius: 50%
      &_name
        font-size: 1.45rem
        font-weight: bold
        color: $green

  &-sub_header
    margin-top: 1rem
    @include flex(row, space-between)
    p
      font-size: 1rem
      font-weight: 500
      color: $green
  &-content
    h2
      font-weight: bold
      color: $green
      margin-top: 1rem
    &-histories-wrapper
      margin: 2rem 0
      padding-bottom: 8rem
      @include flex(row, space-around)
      gap: 4rem
      .history
         width: 25rem
         &-header
          margin-bottom: 1rem
          p, h3
             color: $green
             text-align: center
          h3
            font-weight: bold
         &-buttons
            @include flex(row, space-between)
            margin-top: 1rem
            span
              color: $green
              font-weight: bold
            &-delete
              fill: $light_red
              filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
              transform: scale(1.5)
              &:hover
                transform: scale(2)
                cursor: pointer
         &-image
            height: 15rem
            img
              border-radius: 1rem
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
              width: 100%
              height: 100%
              object-fit: cover

.modal-view-history
  p
    margin-top: 1rem
    text-align: center